.housing_banner_image {
    width: 1400px;
    height: 600px;
    opacity: 0.35;
    z-index: 1;
}

.logo {
    z-index: 2;
    position: absolute;
    width: 300px;
    margin-top: -670px;
    margin-left: 30px;
}

.navbar {
    z-index: 2;
    position: absolute;
    margin-top: -565px;
    margin-left: 700px;
    width: 100%;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li{
    padding: 20px 20px;
    font-size: 23px;
    text-align: center;
    margin-right: 80px;
    background-color: black;

}

.navbar ul li a{
    text-decoration: none;
    color: #D2B48C;
}

.banner_content{
    z-index: 2;
    position: absolute;
    margin-top: -300px;
    margin-left: 100px;
    font-size: 25px;
    font-family: georgia;

}
.scatter_heading{
    text-align: center;
    font-size: 40px;
    font-family: georgia;
}

.scatter_plots{
    display: flex;
    margin: 0 50px;
}

.scatter1_content{
    font-family: georgia;
    text-align: center;
    padding: 10px 20px;
    line-height: 1.5;
    font-size: 20px;
}